@import 'nprogress/nprogress.css';

#app {
  height: 100%;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
