.dropdown-no-icon {
   .q-btn-dropdown__arrow {
    display: none;
  }
}

.q-item {
  min-height: 34px;

  .q-item__section--avatar {
    min-width: 30px;
    opacity: 0.75;
  }
}


.no-select {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.flex {
  display: flex;
}
.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-around {
  display: flex;
  justify-content: space-around;
}
.flex-center {
  display: flex;
  justify-content: center;
}

.as-center {
  align-self: center;
}
