$primary   : #467599;
$secondary : #e5e1ee;
$accent    : #7d7abc;

$dark      : #484a47;
$dark-page : #595959;

$positive  : #59cd90;
$negative  : #f79d84;
$info      : #a7adb8;
$warning   : #fac05e;
